In [1]:
import pandas as pd
ENGAGEMENT = pd.read_excel('Content_2022-12-01_2023-11-30_TestimonyAdeyemi.xlsx', sheet_name='ENGAGEMENT')
TOP_POSTS = pd.read_excel('Content_2022-12-01_2023-11-30_TestimonyAdeyemi.xlsx',sheet_name='TOP POSTS')
FOLLOWER = pd.read_excel('Content_2022-12-01_2023-11-30_TestimonyAdeyemi.xlsx', sheet_name='FOLLOWERS')
DEMOGRAPHICS = pd.read_excel('Content_2022-12-01_2023-11-30_TestimonyAdeyemi.xlsx', sheet_name='DEMOGRAPHICS')

c:\Users\KABSTORE\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\KABSTORE\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\KABSTORE\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\KABSTORE\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
ENGAGEMENT.head(5)

        Date  Impressions  Engagements
0  12/1/2022            0            0
1  12/2/2022            0            0
2  12/3/2022            0            0
3  12/4/2022            0            0
4  12/5/2022            0            0

In [3]:
ENGAGEMENT['Date'] = pd.to_datetime(ENGAGEMENT['Date'])

In [4]:
ENGAGEMENT = ENGAGEMENT[(ENGAGEMENT['Date'] >= '01/01/2023') & (ENGAGEMENT['Date'] <= '11/30/2023')]

In [5]:
ENGAGEMENT['month'] = ENGAGEMENT['Date'].dt.month

In [6]:
ENGAGEMENT

          Date  Impressions  Engagements  month
31  2023-01-01            0            0      1
32  2023-01-02            0            0      1
33  2023-01-03            0            0      1
34  2023-01-04            0            0      1
35  2023-01-05            0            0      1
..         ...          ...          ...    ...
360 2023-11-26          295            8     11
361 2023-11-27          309            9     11
362 2023-11-28          329           10     11
363 2023-11-29          252            9     11
364 2023-11-30          110            4     11

[334 rows x 4 columns]

1. Total Impressions
2. The best month Impressions/engagement
3. Top 5 posts - engagement
4. Top 5 Job titles
5. Top 5 Locations
6. Top 5 Industries

7. User name and picture

In [7]:
Total_Impressions = ENGAGEMENT['Impressions'].sum() 
Total_Impressions

36009

In [8]:
Total_Engagements = ENGAGEMENT['Engagements'].sum() 
Total_Engagements

1144

In [9]:
monthly_engagement = ENGAGEMENT.groupby('month')

In [10]:
# Assuming 'month' is a column in your DataFrame
grouped_df = ENGAGEMENT.groupby('month').agg({
    'Impressions': 'sum',  # You can change the aggregation function as needed
    'Engagements': 'sum'
}).reset_index()

# Now, you can sort the new DataFrame
grouped_df = grouped_df.sort_values(['Impressions', 'Engagements'], ascending=[False, False])

# Display or use the grouped and sorted DataFrame as needed
print(grouped_df)

    month  Impressions  Engagements
10     11        18232          567
8       9        10316          310
9      10         6416          240
5       6          739           22
6       7          282            5
4       5           10            0
7       8           10            0
0       1            2            0
2       3            2            0
1       2            0            0
3       4            0            0

In [11]:
best_month = grouped_df.iloc[0]
print(best_month)

month             11
Impressions    18232
Engagements      567
Name: 10, dtype: int64

In [12]:
Total_Impressions = ENGAGEMENT['Impressions'].sum() 
Total_Impressions

36009

In [13]:
# Assuming your DataFrame is named TOP_POSTS
# Assign the second row as the header
TOP_POSTS.columns = TOP_POSTS.iloc[1]

# Drop the rows above the second row
TOP_POSTS = TOP_POSTS[2:].reset_index(drop=True)

In [14]:
top_5_engaging_posts = TOP_POSTS[['Post URL', 'Engagements']].head(5)
top_5_engaging_posts

1,Post URL,Post URL,Engagements
0,https://www.linkedin.com/feed/update/urn:li:ac...,https://www.linkedin.com/feed/update/urn:li:ac...,134
1,https://www.linkedin.com/feed/update/urn:li:ac...,https://www.linkedin.com/feed/update/urn:li:ac...,69
2,https://www.linkedin.com/feed/update/urn:li:ac...,https://www.linkedin.com/feed/update/urn:li:ac...,67
3,https://www.linkedin.com/feed/update/urn:li:ac...,https://www.linkedin.com/feed/update/urn:li:ac...,52
4,https://www.linkedin.com/feed/update/urn:li:ac...,https://www.linkedin.com/feed/update/urn:li:ac...,48

In [15]:
FOLLOWER.head(5)

  Total followers on 11/30/2023:            633
0                            NaN            NaN
1                           Date  New followers
2                      12/1/2022              0
3                      12/2/2022              0
4                      12/3/2022              0

In [16]:
header = FOLLOWER.columns.tolist()
last_element = header[-1]
New_followers = f"{last_element} total followers"
print(New_followers)

633 total followers

In [17]:
# Assign the second row as the header
FOLLOWER.columns = FOLLOWER.iloc[1]

# Drop the rows above the second row
FOLLOWER = FOLLOWER[2:].reset_index(drop=True)

In [18]:
FOLLOWER = FOLLOWER[(FOLLOWER['Date'] >= '01/01/2023') & (FOLLOWER['Date'] <= '11/30/2023')]

In [19]:
Total_New_FOLLOWER = FOLLOWER['New followers'].sum() 
Total_New_FOLLOWER = str(Total_New_FOLLOWER)

In [20]:
DEMOGRAPHICS.head(5)

  Top Demographics                    Value Percentage
0       Job titles                  Founder   0.045741
1       Job titles        Software Engineer   0.045741
2       Job titles  Chief Executive Officer   0.028391
3       Job titles               Co-Founder   0.020505
4       Job titles             Data Analyst    0.01735

In [21]:
Top_Job_Titles = ""
Top_Locations = ""
Top_Industries = ""



# Check the value based on the "Top Demographics"
for index, row in DEMOGRAPHICS.iterrows():
    top_demographics = row['Top Demographics']
    value = row['Value']
    if top_demographics == 'Job titles':
        Top_Job_Titles += f"{value}\n"
    elif top_demographics == 'Locations':
        Top_Locations += f"{value}\n"
    elif top_demographics == 'Industries':
        Top_Industries += f"{value}\n"

    
# Display or use the result_string as needed
print(Top_Job_Titles)
print(Top_Locations)
print(Top_Industries)

Founder
Software Engineer
Chief Executive Officer
Co-Founder
Data Analyst

Kigali
Accra
London Area, United Kingdom
Lagos
Abuja

Software Development
IT Services and IT Consulting
Higher Education
Business Consulting and Services
Education Administration Programs

In [22]:
Top_Job_Titles = ""
Top_Locations = ""
Top_Industries = ""

# Check the value based on the "Top Demographics"
for index, row in DEMOGRAPHICS.iterrows():
    top_demographics = row['Top Demographics']
    value = row['Value']
    if top_demographics == 'Job titles':
        Top_Job_Titles += f"{value}\n"
    elif top_demographics == 'Locations':
        Top_Locations += f"{value}\n"
    elif top_demographics == 'Industries':
        Top_Industries += f"{value}\n"

# Display or use the result_string as needed with numbered bullets

Top_Job_Titles = "\n".join([f"{i+1}. {title}" for i, title in enumerate(Top_Job_Titles.split("\n")[:-1])])
print(Top_Job_Titles)

Top_Locations = "\n".join([f"{i+1}. {location}" for i, location in enumerate(Top_Locations.split("\n")[:-1])])
print(Top_Locations)

Top_Industries = "\n".join([f"{i+1}. {industry}" for i, industry in enumerate(Top_Industries.split("\n")[:-1])])
print(Top_Industries)

1. Founder
2. Software Engineer
3. Chief Executive Officer
4. Co-Founder
5. Data Analyst
1. Kigali
2. Accra
3. London Area, United Kingdom
4. Lagos
5. Abuja
1. Software Development
2. IT Services and IT Consulting
3. Higher Education
4. Business Consulting and Services
5. Education Administration Programs

In [23]:
pip install pillow

Requirement already satisfied: pillow in c:\users\kabstore\appdata\local\programs\python\python311\lib\site-packages (10.0.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
from PIL import Image, ImageDraw, ImageFont, ImageOps

def generate_flyer_with_circle_avatar(name, avatar_path):
    # Load the base image
    base_image = Image.open("page1.png")  # Replace with your actual template path

    # Create a drawing object
    draw = ImageDraw.Draw(base_image)

    font_path = "XP-Vosta.ttf"  # Replace with your actual font file path
    font_size = 41

    # Load the specified font
    font = ImageFont.truetype(font_path, font_size)

    # Choose a position for the text
    text_position = (57, 1209.5)  # Replace with your desired position for the text

    # Choose a color for the text
    text_color = (255, 255, 255)  # Replace with your desired color for the text

    # Draw the text on the image
    draw.text(text_position, name, font=font, fill=text_color)

    # Load the user's avatar image
    avatar = Image.open(avatar_path)  # Replace with the actual path to the user's uploaded image

    # Resize the avatar to fit into a circle
    size = (608, 608)  # Set the desired size for the circular avatar
    avatar = avatar.resize(size, Image.LANCZOS)  # Use Image.ANTIALIAS for antialiasing

    # Create a circular mask
    mask = Image.new("L", size, 0)
    draw_mask = ImageDraw.Draw(mask)
    draw_mask.ellipse((0, 0, size[0], size[1]), fill=255)

    # Apply the circular mask to the avatar
    avatar = ImageOps.fit(avatar, mask.size, centering=(0.5, 0.5))
    avatar.putalpha(mask)

    # Choose a position for the circular avatar
    avatar_position = (259, 319)  # Replace with your desired position for the circular avatar

    # Paste the circular avatar onto the base image
    base_image.paste(avatar, avatar_position, avatar)

    # Save or display the resulting image
    base_image.save("page1Edit.png")  # Replace with your desired output path
    base_image.show()

# Example usage
user_name = input("Enter the name for the flyer: ")
user_avatar_path = input("Enter the path to the user's avatar image: ")
generate_flyer_with_circle_avatar(user_name, user_avatar_path)

Enter the name for the flyer:  Adeyemi Testimony
Enter the path to the user's avatar image:  test.jpeg

In [26]:
def generate_flyer_with_square_avatar(name, avatar_path):
    # Load the base image
    base_image = Image.open("page2.png")  # Replace with your actual template path

    # Create a drawing object
    draw = ImageDraw.Draw(base_image)

    font_path = "XP-Vosta.ttf"  # Replace with your actual font file path
    font_size1 = 233
    font1 = ImageFont.truetype(font_path, font_size1)
    text_position1 = (108, 138)  # Replace with your desired position for the text
    text_color1 = (255, 255, 255)  # Replace with your desired color for the text


    font_size1 = 40
    font2 = ImageFont.truetype(font_path, font_size1)
    text_position2 = (212, 1039)  # Replace with your desired position for the text
    text_color1 = (255, 255, 255)  # Replace with your desired color for the text
    
    # Draw the text on the image
    
    draw.text(text_position1, Total_New_FOLLOWER, font=font1, fill=text_color1)
    draw.text(text_position2, New_followers, font=font2, fill=text_color1)
    

    # Load the user's avatar image
    avatar = Image.open(avatar_path)  # Replace with the actual path to the user's uploaded image
        
    # Resize the avatar to fit into a rectangle
    size = (569, 360)  # Set the desired size for the rectangular avatar
    avatar = avatar.resize(size, Image.LANCZOS)  # Use Image.LANCZOS for resizing
    
    # Crop the avatar to the rectangular shape
    left, top, right, bottom = (50, 50, 569, 360)  # Set the cropping rectangle (left, top, right, bottom)
    avatar = avatar.crop((left, top, right, bottom))


    # Choose a position for the circular avatar
    avatar_position = (255, 602)  # Replace with your desired position for the circular avatar

    # Paste the circular avatar onto the base image
    base_image.paste(avatar, avatar_position)

    # Save or display the resulting image
    base_image.save("page1Edit.png")  # Replace with your desired output path
    base_image.show()

# Example usage
generate_flyer_with_square_avatar(user_name, user_avatar_path)